<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.typekit.net/aly6zem.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>ManageMyInjuries</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/materialize/css/materialize.css">
  <link rel="stylesheet" href="/main.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
