<% include _header %>
<div class="body-container">
<div class="container">

<!-- Title -->
<div class="row">
  <div class="title center-align col s8 m8 l8 offset-s2 offset-m2 offset-l2">
    <h3>Welcome</h3>
  </div>
</div>

<!-- Pitch Images -->
<div class="row center-align">
  <div class="col s10 m10 l12 offset-s1 offset-m1">
    <div class="pitch-row row">
      <img class="pitch-image col s12 m4 l4" src="/images/card-clock.svg"></img>
      <img class="pitch-image col s12 m4 l4" src="/images/card-process.svg"></img>
      <img class="pitch-image-last col s12 m4 l4" src="/images/card-smiley.svg"></img>
    </div>
  </div>
</div>

<!-- Arrow Down -->
<div class="row">
  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="aboutAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div class="section"></div>

<!-- About Us -->
<div id="about" class="row">
  <div class="circle"></div>


    <div class="about-card card col s12 m12 l12">

      <div class="about-content container">
      <h5>With ManageMyInjuries you can:</h5>
      <ol class="about-list col s12 m12 l12">
        <li>
          <p>Build your provider network by workplace location, including designate preferred providers.</p>
        </li>
        <li>
          <p>Connect to your injury care network, including telephonic case managers, PBM and claim administrators.</p>
        </li>
        <li>
          <p>Implement custom forms and documents used in your injury care process</p>
        </li>
        <li>
          <p>Specify the workflow, documentation and reporting requirements for handling an injury</p>
        </li>
        <li>
          <p>Monitor injured worker compliance with appointments and two-way text messaging</p>
        </li>
        <li>
          <p>Log all injury care actions for reporting purposes</p>
        </li>
      </ol>

      </div>

    </div>

    <div class="about-background"></div>

</div>

<!-- Arrow Down -->
<div class="row">
  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="howAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div class="section"></div>

<!-- How It Works -->
<div id="how" class="row">
    <!-- <h3>How It Works</h3>
      <div class="row">
        <img src="/images/flowchart-vertical.svg"></img>
      </div>
    </div> -->

    <!--===========================================
        ========== COLLAPSIBLE ACCORDION ==========
        =========================================== -->
    <div class="how-row row col m8 l8 offset-m2 offset-l2">
    <h5 class="center-align">Using ManageMyInjuries is as easy as 1-2-3</h5>
    <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">report_problem</i>Step 1 - Employee reports injury</div>
        <div class="collapsible-body">
          <div class="row">
            <img class="single-image col s8 m6 l4 offset-s2 offset-m3 offset-l4" src="/images/how-assets-01.svg"/>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header active"><i class="material-icons">keyboard</i>Step 2 - Supervisor enters into ManageMyInjuries</div>
        <div class="collapsible-body">
          <div class="row">
            <img class="single-image col s8 m6 l4 offset-s2 offset-m3 offset-l4" src="/images/how-assets-02.svg"/>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">notifications_active</i>Step 3 - ManageMyInjuries notifies your Injury Team</div>
        <div class="collapsible-body">
          <img src="/images/how-assets-03.svg"/>
        </div>
      </li>
    </ul>
    </div>
    <!--===============================================
        ========== END COLLAPSIBLE ACCORDION ==========
        =============================================== -->

    <!-- Arrow Down -->
    <div class="how-arrow row col s12 m12 l12">
      <div class="arrow-down">
        <a href="javascript:void(0);" onClick="bottomAutoScroll();">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </div>
  </div>
</div>



<!-- Bottom -->
<div id="bottom">
  <div class="row">
    <!-- static notifications
    <div class="notifications col s12 m10 l10 offset-m1 offset-l1">
      <img class="col s4 m4 l4" src="/images/circle-text.svg"></img>
      <img class="col s4 m4 l4" src="/images/circle-email.svg"></img>
      <img class="col s4 m4 l4" src="/images/circle-fax.svg"></img>
    </div>
    -->

    <!-- notifications carousel -->
    <div class="notifications-carousel center-align">
      <div class="carousel">
        <h4 class="notifications-text col s12 m12 l12">Send and receive notifications via text, email, or fax</h4>
        <div class="carousel-item"><img class="graphic" src="/images/circle-text.svg" /><p class="carousel-text">Text</p></div>
        <div class="carousel-item"><img class="graphic" src="/images/circle-email.svg" /><p class="carousel-text">Email</p></div>
        <div class="carousel-item"><img class="graphic" src="/images/circle-fax.svg" /><p class="carousel-text">Fax</p></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="map-card col s12 m10 l10 offset-m1 offset-l1">
      <div class="map-content container">
        <img src="/images/map.svg"></img>
        <h5>Designate your provider network by location, and set options for preferred providers</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <a class="button col s8 m3 l3 offset-s2 offset-m2 offset-l2 btn">Login</a>
    <a class="button col s8 m3 l3 offset-s2 offset-m2 offset-l2 btn">Contact</a>
  </div>
</div>

</div>
</div>

<% include _footer %>
