<% include _header %>

<!-- Title -->
<div class="title-row row">

  <div class="pure-g">

    <div class="pure-u-1-3"></div>

    <div class="pure-u-1-3">
      <div class="title">
        Welcome
      </div>
    </div>

    <div class="pure-u-1-3"></div>

  </div>

</div>

<!-- Image Cards -->
<div class="section-one row">

  <div class="pure-g">

    <div class="pure-u-1-8"></div>

    <!-- First Card -->
    <div class="pure-u-1-4">

      <div class="square">
        <div class="content">
          <img class="card-image" src="/images/clock.svg"></img>
          <div class="graphic-card">
            <div class="graphic-container">
              <p>24 hour digital assistant for workplace injury management</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Second Card -->
    <div class="pure-u-1-4">
      <div class="square">
        <div class="content">
          <img class="card-image" src="/images/process.svg"></img>
          <div class="graphic-card">
            <div class="graphic-container">
              <p>Handling workplace injuries in the modern world</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Card -->
    <div class="pure-u-1-4">
      <div class="square">
        <div class="content">
          <img class="card-image" src="/images/smiley.svg"></img>
          <div class="graphic-card">
            <div class="graphic-container">
              <p>Simple implementation, no software or apps required!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Arrow Down -->
<div class="row">

  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="aboutAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>

</div>

<!-- About Us -->
<div id="about">
  <div class="section-two row">

    <div class="pure-g">
      <div class="pure-u-1-12"></div>

      <div class="pure-u-11-24">

        <div class="circle">

          <div class="circle-content">
            <h1>About Us</h1>
          </div>

          <div class="about-card">
            <div class="about-container">
              <p>ManageMyInjuries is a digital assistant for helping you manage workplace injuries during the first 24 hours of care.
                Where and how an injured employee seeks care during these 24 hours can have a significant impact on the medical cost
                and lost-time cost of their claim.</p>
    	        <p>Ideally, your company has developed a standard process for handling a workplace injury - direct the injured employee
                to a preferred provider, contact a case management provider and report the injury to a claims administrator.</p>
    	        <p>Your challenge is making sure this process is followed, keeping it current with changing providers, site
                supervisors, etc.</p>
    	        <p>ManageMyInjuries makes this easy by implementing your process in an online database. When changes are made they are
                immediately available to your entire organization. And with no software to install or app to download,
                ManageMyInjuries is available to your organization on demand, 24x7x365.</p>
            </div>
          </div>

        </div>

      </div>

      <div class="pure-u-1-3">
        <img class="about-image" src="/images/about.svg"></img>
      </div>

    </div>

  </div>

<!-- Arrow Down -->
<div class="row">

  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="howAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>

</div>

</div>


<!-- How -->
<div id="how">
  <div class="row">

    <div class="pure-g">
      <div class="pure-u-3-24"></div>

    <div class="pure-u-18-24">
        <div class="how-card">
          <div class="how-container">

            <h2>How It Works</h2>

            <img class="flowchart-image" src="/images/flowchart.svg"></img>

          </div>
      </div>

    </div>

  </div>
</div>

  <!-- Arrow Down -->
  <div class="row">

    <div class="arrow-down">
      <a href="javascript:void(0);" onClick="bottomAutoScroll();">
        <i class="material-icons" style="font-size: 2.5rem;">keyboard_arrow_down</i>
      </a>
    </div>

  </div>

</div>

<div id="bottom">

  <div class="row">

    <div class="pure-g">

      <div class="pure-u-1-6"></div>

      <div class="pure-u-1-6">
        <img class="bottom-images" src="/images/circle-text.svg"></img>
      </div>

      <div class="pure-u-1-12"></div>

      <div class="pure-u-1-6">
        <img class="bottom-images" src="/images/circle-email.svg"></img>
      </div>

      <div class="pure-u-1-12"></div>

      <div class="pure-u-1-6">
        <img class="bottom-images" src="/images/circle-fax.svg"></img>
      </div>

      <div class="pure-u-1-6"></div>

    </div>

    <div class="pure-g">

      <div class="pure-u-1-6"></div>

      <div class="pure-u-2-3">
        <div class="bottom-text">
          Receive notifications via text, email, or fax
        </div>
      </div>

      <div class="pure-u-1-6"></div>

    </div>

  </div>

  <div class="row">

    <div class="pure-g">
      <div class="pure-u-3-24"></div>

    <div class="pure-u-18-24">
        <div class="how-card">
          <div class="how-container">
            <div class="row">
              <img class="map" src="/images/map.svg"></img>
            </div>
            <div class="row">
              <div class="map-text">
                Designate your provider network by location, and set options for preferred providers
              </div>
            </div>
          </div>
      </div>

    </div>

    </div>

  </div>

  <div class="row" style="margin-top: 2.5%;">
    <div class="pure-g">
      <div class="pure-u-8-24"></div>

      <div class="pure-u-4-24" style="margin-right: 1%;">
        <button class="bottom-button">Login</button>
      </div>

      <div class="pure-u-4-24">
        <button class="bottom-button">Contact</button>
      </div>

    </div>
  </div>

<% include _footer %>
