<% include _header %>
<div class="container">

<!-- Title -->
<div class="row">
  <div class="title center-align col s8 m8 l8 offset-s2 offset-m2 offset-l2">
    <h3>Welcome</h3>
  </div>
</div>

<!-- Pitch Images -->
<div class="row center-align">
  <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1">
    <div class="row">
      <img class="pitch-image col s12 m4 l4" src="/images/card-clock.svg"></img>
      <img class="pitch-image col s12 m4 l4" src="/images/card-process.svg"></img>
      <img class="pitch-image-last col s12 m4 l4" src="/images/card-smiley.svg"></img>
    </div>
  </div>
</div>

<!-- Arrow Down -->
<div class="row">
  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="aboutAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div class="section"></div>

<!-- About Us -->
<div id="about" class="row">
  <div class="circle show-on-large"></div>
    <h3>About Us</h3>

    <div class="about-card card col s12 m12 l7">

      <div class="about-content container">

      <p>ManageMyInjuries is a digital assistant for helping you manage workplace injuries during the first 24 hours of care.
        Where and how an injured employee seeks care during these 24 hours can have a significant impact on the medical cost
        and lost-time cost of their claim.</p>
     <p>Ideally, your company has developed a standard process for handling a workplace injury - direct the injured employee
        to a preferred provider, contact a case management provider and report the injury to a claims administrator.</p>
      <p>Your challenge is making sure this process is followed, keeping it current with changing providers, site
        supervisors, etc.</p>
      <p>ManageMyInjuries makes this easy by implementing your process in an online database. When changes are made they are
        immediately available to your entire organization. And with no software to install or app to download,
        ManageMyInjuries is available to your organization on demand, 24x7x365.</p>
      </div>

    </div>

</div>

<!-- Arrow Down -->
<div class="row">
  <div class="arrow-down">
    <a href="javascript:void(0);" onClick="howAutoScroll();">
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div class="section"></div>

<!-- How It Works -->
<div id="how" class="row">
  <div class="how-card col s12 m10 l10 offset-m1 offset-l1">
    <div class="how-content container">
      <h3>How It Works</h3>
      <div class="row">
        <img src="/images/flowchart-vertical.svg"></img>
      </div>
    </div>
    <!-- Arrow Down -->
    <div class="how-arrow row">
      <div class="arrow-down">
        <a href="javascript:void(0);" onClick="bottomAutoScroll();">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </div>
    </div>
  </div>
</div>



<!-- Bottom -->
<div id="bottom">
  <div class="row">
    <div class="notifications col s12 m10 l10 offset-m1 offset-l1">
      <img class="col s4 m4 l4" src="/images/circle-text.svg"></img>
      <img class="col s4 m4 l4" src="/images/circle-email.svg"></img>
      <img class="col s4 m4 l4" src="/images/circle-fax.svg"></img>
    </div>
  </div>

  <div class="row">
    <h4>Send and receive notifications via text, email, or fax</h4>
  </div>

  <div class="row">
    <div class="map-card col s12 m10 l10 offset-m1 offset-l1">
      <div class="map-content container">
        <img src="/images/map.svg"></img>
        <h5>Designate your provider network by location, and set options for preferred providers</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <a class="button col s8 m3 l3 offset-s2 offset-m2 offset-l2 btn">Login</a>
    <a class="button col s8 m3 l3 offset-s2 offset-m2 offset-l2 btn">Contact</a>
  </div>
</div>

</div>

<% include _footer %>
